<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>إضافة طالب</title>
</head>
<body>
    <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
        <h1 class="display-4 py-2  text-truncate">إضافة طالب متخرج</h1>
        <div class="px-2">
            <form id="procs" action="/addStudent" method="POST">
                <div class="form-group">
                    <label for="nameAR">إسم الطالب بالعربي</label>
                    <input type="text" class="form-control" id="nameAR" name="nameAR"
                        placeholder="Student Arabic Full Name" >
                </div>
                <div class="form-group">
                    <label for="nameEN">إسم الطالب باإنجليزي</label>
                    <input type="text" class="form-control" id="nameEN" name="nameEN"
                        placeholder="Student English Full Name" >
                </div>
                <div class="form-group">
                    <label for="NID">رقم الهوية</label>
                    <input type="number" class="form-control" id="NID" name="NID"
                        placeholder="National ID" required>
                </div>
                <div class="form-group">
                    <label for="major">التخصص</label>
                    <input type="text" class="form-control" id="major" name="major">
                </div>
                <div class="form-group">
                    <label for="faculty">الكلية</label>
                    <input type="text" class="form-control" id="faculty" name="faculty">
                </div>
                <div class="form-group">
                    <label for="GPD">المعدل</label>
                    <input type="text" class="form-control" id="GPA" name="GPA">
                </div>
                <div class="form-group">
                    <label for="email">الإيميل</label>
                    <input type="text" class="form-control" id="email" name="email">
                </div>
                <div class="form-group">
                    <label for="phone">رقم الجوال</label>
                    <input type="text" class="form-control" id="phone" name="phone" >
                </div>
                <button type="button" class="btn btn-primary" id="add">إضافة</button>
                <button type="button" class="btn btn-primary bg-dark" id="edit">تعديل</button>
                <button type="button" class="btn btn-primary bg-danger" id="delete">حذف</button>
            </form>
        </div>
    </div>
    </div>
    <% if(data.length > 0 ) {%>
        <div class="container" dir="rtl" style="text-align: right;">

            <br>
            <div class="show">
                <h2>بيانات الطالب</h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>الاسم بالعربي</th>
                            <th>الاسم بالإنجليزي</th>
                            <th>رقم الهوية</th>
                            <th>الكلية</th>
                            <th>التخصص</th>
                            <th>المعدل من 5</th>
                            <th>الإيميل</th>
                            <th>رقم الجوال</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i=0; i< data.length;i++ ){ let Student = data[i]%>
                            <tr>
                                <td>
                                    <%= Student.nameAR %>
                                </td>
                                <td>
                                    <%= Student.nameEN %>
                                </td>
                                <td>
                                    <%= Student.NID %>
                                </td>
                                <td>
                                    <%= Student.major %>
                                </td>
                                <td>
                                    <%= Student.faculty %>
                                </td>
                                <td>
                                    <%= Student.GPA %>
                                </td>
                                <td>
                                    <%= Student.email %>
                                </td>
                                <td>
                                    <%= Student.phone %>
                                </td>
                            </tr>
                            <% }%>
                    </tbody>
                </table>
            </div>            
        </div>
    <% } %>
</body>
    <script>


        document.addEventListener('DOMContentLoaded', () => {
            const nid = document.getElementById('NID');
            const add = document.getElementById('add');
            const edit = document.getElementById('edit');
            const deletee = document.getElementById('delete');
            let form1 = document.getElementById('procs');

            function addd(){
                form1.setAttribute('method', 'POST');
                document.forms['procs'].action = '/addStudent';
                document.forms['procs'].submit();
            }
            function edith(){
                document.forms['procs'].action = `/update/`;
                document.forms['procs'].submit();
            }

            function deleteee(){
                form1.setAttribute('method', 'GET');
                document.forms['procs'].action = `/delete/${nid.value}`;
                document.forms['procs'].submit();
            }  
            
            edit.addEventListener('click', edith);
            add.addEventListener('click', addd);
            deletee.addEventListener('click', deleteee);
        });
        
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"></script>
</html>